html, body {
    width: 100%;
    height: 100%;
    background-color: rgba(14,10,27,255);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
#content_container {
    width: 30%;
    height: 70%;
}

#form_container {
    width: 100%;
    height: 55%;

    background-color:rgba(255, 105, 180, 0.344);
    box-shadow: 2px 2px 150px 1px rgba(255, 105, 180, 0.549);
    border-radius: 2%;

    overflow: hidden;
}

#form_header_container {
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
        box-shadow: 0px 10px 30px 7px rgb(0, 0, 0);
        float: left;

    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;

    border-bottom: 1px solid transparent;
    background: black;
}

#form_header {
    display: inline-block;
    font-size: 15px;
    font-family: Bowlby One SC;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;


    color: white;
}

#form_content_container {
    width: 100%;
    height: 90%;

    float: left;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
}

#form_content_inner_container {
    width: 75%;
    height: 100%;

    float: left;

}

input {
    width: 100%;
    height: 40px;
        box-shadow: 2px 2px 30px 1px rgba(255, 105, 180, 0.549);

    padding-left: 10px;
    margin-bottom: 20px;

    background: rgba(0, 0, 0, 0.637);
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    font-size: 12px;
    border-radius: 8px;
}

#button_container {
    width: 100%;
    height: 10%;

    background-image: linear-gradient(80deg, hotpink, rgba(255, 105, 180, 0.574) 50%, rgba(255, 105, 180, 0.574) 50%, hotpink);
    color: #fff;

    float: left;
    border-radius: 8px;
    margin-top: 5px;
}

#button_container button {
    width: 50%;
    height: 100%;
    float: left;
    box-shadow: 2px 2px 30px 1px rgba(255, 105, 180, 0.549);

    background: transparent;
    color: inherit;

    font-family: Montserrat;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 12px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

#login:hover{
    background-image: linear-gradient(80deg, hotpink, hotpink 50%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#regist:hover{
    background-image: linear-gradient(80deg, hotpink, hotpink 50%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


























@media (orientation: portrait){
    html, body {
        width: 100%;
        height: 100%;
        background-color: rgba(14,10,27,255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
        outline: none;
    }
    #content_container {
        width: 70%;
        height: 90%;
    }
    
    #form_container {
        width: 100%;
        height: 95%;
    
        background-color:rgba(255, 105, 180, 0.344);
        box-shadow: 2px 2px 150px 1px rgba(255, 105, 180, 0.549);
        border-radius: 2%;
    
        overflow: hidden;
    }
    
    #form_header_container {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        box-shadow: 0px 20px 30px 20px rgb(0, 0, 0);
    
        padding: 60px;
        padding-bottom: 30px;
        padding-top: 75px;
    
        border-bottom: 1px solid transparent;
        background: black;
    }
    
    #form_header {
        display: inline-block;
        font-size: 5rem;
        font-family: Bowlby One SC;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
    
    
        color: white;
    }
    
    #form_content_container {
        width: 100%;
        height: 90%;
    
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    
        padding-top: 25%;
    }
    
    #form_content_inner_container {
        width: 75%;
        height:90%;
    
        float: left;
    
    }
    
    input {
        width: 100%;
        height: 150px;
        box-shadow: 2px 2px 30px 1px rgba(255, 105, 180, 0.549);
        margin-top: 50px;
        padding-left: 10px;
        margin-bottom: 20px;
    
        background: rgba(0, 0, 0, 0.637);
        font-family: Montserrat;
        font-weight: 500;
        color: #fff;
        font-size: 2.5rem;
        border-radius: 8px;
    }
    
    #button_container {
        width: 100%;
        height: 10%;
        box-shadow: 2px 2px 30px 1px rgba(255, 105, 180, 0.549);
    
        background-image: linear-gradient(80deg, hotpink, rgba(255, 105, 180, 0.574) 50%, rgba(255, 105, 180, 0.574) 50%, hotpink);
        color: #fff;
        
        float: left;
        border-radius: 8px;
        margin-top: 30%;
    }
    
    #button_container button {
        width: 50%;
        height: 100%;
        float: left;
        background: transparent;
        color: inherit;
    
        font-family: Montserrat;
        letter-spacing: 1px;
        font-weight: 900;
        font-size: 1.5rem;
    
        cursor: pointer;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #login:hover{
        background-image: linear-gradient(80deg, hotpink, hotpink 50%);
        border-radius: 8px;
    }
    
    #regist:hover{
        background-image: linear-gradient(80deg, hotpink, hotpink 50%);
        border-radius: 8px;
    }
}
